.scale:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.2s;
}


/*Desactiva animación fadeInDown de mobile para mejor visualización*/
@media (max-width: 960px){
    .fadeInDown{
        animation-name: none !important;
        visibility: visible !important;
    }
}