@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;500&display=swap");
body {
  background: linear-gradient(to bottom, rgba(143, 193, 207, 0.8980392157), rgba(64, 111, 124, 0.8980392157));
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

.centerText {
  text-align: center;
}

.centerItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.lbBorder {
  background: rgba(98, 255, 242, 0.212);
  border: solid 1px rgba(0, 0, 0, 0.164);
}

.button, .btnVerMas {
  background: rgba(98, 255, 242, 0.212);
  border: solid 1px rgba(0, 0, 0, 0.116);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.hideItem {
  display: block;
}

.imgShadow {
  box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

nav {
  background: rgba(57, 226, 212, 0.705);
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
nav ul {
  font-family: "Open Sans", sans-serif;
}
nav ul li a:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: transform 0.2s;
  font-weight: 600;
}
nav img {
  width: 30px;
}

#navSearch button {
  padding: 0px 15px;
}

#titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 3rem;
}
#titleContainer img {
  width: 100px;
}

.btnProdsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "nprods" "btnProds";
  justify-items: stretch;
  align-items: center;
}

#nprods {
  grid-area: nprods;
  font-family: "Rubik", sans-serif;
}

#btnProds {
  grid-area: btnProds;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#btnProds p {
  margin-right: 10px;
}

.cCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 300px;
  max-width: 300px;
  background-color: white;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  text-align: center;
}

.containerPadding {
  padding: 4px 16px;
}

.productPic {
  margin: 20px 0px;
  width: 100%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-image: url(../img/footerPic.webp);
  background-color: linear-gradient(to bottom, rgba(143, 193, 207, 0.8980392157), rgba(64, 111, 124, 0.8980392157));
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
  margin-top: 15px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
}
footer img {
  width: 50px;
}
footer h4 {
  font-size: 1.2rem;
}

#mPagoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#mPagoContainer div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#mPagoContainer a {
  font-family: "Rubik", sans-serif;
  color: rgb(0, 75, 119);
  text-decoration: none;
}

.alignContacto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 10px;
}

.nHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 2rem 5rem;
}
.nHeaderContainer img {
  width: 100%;
}
.nHeaderContainer h2 {
  font-size: 2rem;
  font-weight: 700;
}
.nHeaderContainer p {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
}

#contactoForm form {
  background: rgba(98, 255, 242, 0.212);
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px;
  margin: 15px 0px;
}

#envioContainer {
  font-family: "Rubik", sans-serif;
  margin: 0px;
}
#envioContainer h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
#envioContainer div {
  margin: 20px 0px;
}
#envioContainer [src="img/envio.webp"] {
  width: 100%;
}

.btnVerMas {
  background: rgba(77, 197, 187, 0.212);
  padding: 5px 16px;
}

@media (max-width: 1540px) {
  .hideItem {
    display: none;
  }
}
@media (max-width: 992px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  footer div {
    margin-bottom: 10px;
  }
  #selector [src="img/icons/search.png"] {
    display: none;
  }
}
/*Desactiva animación fadeInDown de mobile para mejor visualización*/
@media (max-width: 960px) {
  .fadeInDown {
    -webkit-animation-name: none !important;
            animation-name: none !important;
    visibility: visible !important;
  }
  #envioContainer [src="img/mediosDePago.webp"] {
    width: 100%;
  }
}
@media (max-width: 615px) {
  #titleContainer {
    justify-content: center;
    margin: 0px;
  }
  h1 {
    font-size: 2rem;
  }
  .mediosDePagoSize {
    width: 100%;
    height: auto;
  }
  .nHeaderContainer {
    margin: 3rem 5px;
  }
  .nHeaderContainer p {
    font-size: 18px;
  }
  .envioContainer {
    font-size: 20px;
    margin: 5px;
  }
  .cCard {
    min-width: 250px;
    max-width: 250px;
  }
}
@media (max-width: 515px) {
  .cCard {
    min-width: 200px;
    max-width: 200px;
  }
  .productPic {
    margin: 5px;
  }
  .button, .btnVerMas {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 415px) {
  .cCard {
    min-width: 150px;
    max-width: 150px;
  }
  .cCard h4 {
    font-size: 15px;
  }
  .cCard p {
    font-size: 15px;
  }
  h1 {
    font-size: 1.8rem;
  }
  .productPic {
    margin: 5px;
  }
}/*# sourceMappingURL=main.css.map */