@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;500&display=swap');

/*Body ----------------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: linear-gradient(to bottom, #8fc1cfe5, #406f7ce5)
}
/*---------------------------------*/

/*Nav -----------------------------*/
.lightblueColor{
    background-color: rgba(98, 255, 242, 0.212)
}

nav img{
    width: 30px;
}
/*----------------------------------*/

/*Title ----------------------------*/
#titleContainer{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

h1{
    font-size: vb;
    font-weight: 700;
}

.logoSize{
    width: 100px;
}
/*----------------------------------*/

/*Productos ------------------------*/
.btnProdsContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "nprods"
    "btnProds";
}
    #nprods{
        grid-area: nprods;
        font-family: 'Rubik', sans-serif;
    }
    #btnProds{
        grid-area: btnProds;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

.productosBorder{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.164);
    border-width: 1px;
    background-color: rgba(98, 255, 242, 0.212);
}
/*----------------------------------*/

/*Nosotros -------------------------*/
.nHeaderContainer{
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
}
    .nHeaderContainer img{
        width: 100%;
    }
    .nHeaderContainer h2{
        font-size: 30px;
        font-weight: 700;
    }
    .nHeaderContainer p{
        font-family: 'Rubik', sans-serif;
        font-size: 25px;
        font-weight: 300;
        margin-top: 10px;
    }
/*----------------------------------*/

/*Envío ----------------------------*/
.envioContainer{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 0px 4rem;
}
    .envioContainer img{
        width: 100%;
    }
/*----------------------------------*/

/*Footer ---------------------------*/
footer{
    background-image: url(../img/footerPic.png);
    background-color: #7196a0e5;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;

}
    footer img{
        width: 50px;
    }

.alignContacto{
    display: flex;
    align-items: center;
}

.mediosDePagoSize{
    height: 300px;
    width: 425px;
}
/*----------------------------------*/

/*Card -----------------------------*/
.cCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin: 5px auto;
  }

.containerPadding{
    padding: 4px 16px;
}

.productPic{
    margin: 20px 0px;
    width: 100%;
    height: 60%;
    object-fit: contain;
}
/*----------------------------------*/

/*Form-----------------------------*/
form{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    background-color: rgba(98, 255, 242, 0.212);
}
/*---------------------------------*/

.imgShadow{
    box-shadow: 0px 6px 10px 0 rgba(0,0,0,0.2);
}

.button {
    background-color: rgba(98, 255, 242, 0.212);
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.centerText{
    text-align: center;
}

.centerItem{
    display: flex;
    justify-content: center;
}

.hideItem{
    display: block;
}

.bold{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 500;
}


/*Media Queries--------------------*/

@media (max-width: 1500px){
    .hideItem{
        display: none;
    }
}

@media (max-width: 990px){
    footer{
        grid-template-columns: 1fr;
        justify-items: center;
    }
        footer div{
            margin-bottom: 10px;
        }
}

@media (max-width: 600px){
    #titleContainer{
        justify-content: center;
        margin: 0px;
    }

    .mediosDePagoSize{
        width: 100%;
        height: auto;
    }

    .nHeaderContainer{
        margin: 3rem 5px;
    }
        .nHeaderContainer p{
            font-size: 18px;
        }

    .envioContainer{
        font-size: 20px;
        margin: 5px;
    }
}

/*---------------------------------*/