footer{
    background-image: url(../img/footerPic.webp);
    @include bg(map-get($map: $paleta, $key: bg), bottom, 100%, no-repeat);
    font-family: 'Rubik', sans-serif;
    margin-top: 15px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;

    img{
        width: 50px;
    }

    h4{
        font-size: $fontXS;
    }
}

#mPagoContainer{
    @include flex(column, flex-start, flex-start, nowrap);

    div{
        @include flex(row, flex-start, flex-start, nowrap);
    }
    
    a{
        font-family: $secondaryFont;
        color: rgb(0, 75, 119);
        text-decoration: none;
    }
}

.alignContacto{
    @include flex(row, flex-start, center, nowrap);
    margin-left: 10px;
}

.nHeaderContainer{
    @include flex(column, flex-start, flex-start, nowrap);
    margin: 2rem 5rem;

    img{
        width: 100%;
    }
    h2{
        font-size: $fontmed;
        font-weight: $fweightL;
    }
    p{
        font-family: $secondaryFont;
        font-size: $fontHM;
        font-weight: $fweightXS;
        margin-top: 10px;
    };
}