nav{
    background: map-get($map: $paleta, $key: nav);
    font-family: $mainFont;
    font-size: $fontXS;
    font-weight: $fweightM;
    ul{
        font-family: $mainFont;
        li{
            a:hover{
                transform: scale(1.02);
                cursor: pointer;
                transition: transform 0.2s;
                font-weight: 600;
            }
        }
    }

    img{
        width: 30px;
    }
}

#navSearch{
    button{
        padding: 0px 15px;
    }
}

#titleContainer{
    @include flex(row, flex-start, center, nowrap);
    margin-left: 3rem;
    img{
        width: 100px;
    }
}