#contactoForm{
    form{
        background: map-get($map: $paleta, $key: main);
        font-family: $secondaryFont;
        font-size: $fontsmall;
        font-weight: $fweightXS;
        padding: 10px;
        margin: 15px 0px;
    }
}

#envioContainer{
    font-family: $secondaryFont;
    margin: 0px;
    
    h3{
        font-size: $fontsmall;
        font-weight: $fweightXS;
    }

    div{
        margin: 20px 0px;
    }

    [src="img/envio.webp"]{
        width: 100%;
    }
}

.btnVerMas{
    @extend .button;
    background: map-get($map: $paleta, $key: dark);
    padding: 5px 16px;
}
